<div class="task-list-container" id="task_list_{{ task_list.id }}">
    <div class="d-flex flex-row task-list-editor" style="background-color: skyblue;">
        <div class="first-left-icon">
            <button id='new_task_button_1' class="btn my-icon-class" title="new task on top"
                onclick="append_new_empty_task({{ task_list.id }}, 'top');">
                <i class="bi bi-plus-lg" style="border-top: 1px solid;"></i>
            </button>
            <button id='new_task_button_2' class="btn my-icon-class" title="new task on bottom"
                onclick="append_new_empty_task({{ task_list.id }}, 'bottom');">
                <i class="bi bi-plus-lg" style="border-bottom: 1px solid;"></i>
            </button>
        </div>
        <div class="flex-grow-1">
            <input class='form-control-plaintext task-list-name' type="text" name="name" id="name"
                value="{{ task_list.name }}"
                onkeypress="if (event.which == 13) update_task_list({{ task_list.id }}, false);" />
        </div>
    </div>

    {% if not task_list.archived %}

    <div id="tasks" class="tasks">
        {% if subtasks %}
        {% for task_html in subtasks %}
        {{ task_html }}
        {% endfor %}
        {% else %}
        <br>
        <div id="instructions">
            Clique no botão para adicionar uma nova tarefa
        </div>
        {% endif %}

        <button id='new_task_button_1' class="btn my-icon-class"
            onclick="append_new_empty_task({{ task_list.id }}, 'top');">
            <i class="bi bi-plus-lg" style="border-top: 1px solid;"></i>
        </button>
        <button id='new_task_button_2' class="btn my-icon-class"
            onclick="append_new_empty_task({{ task_list.id }}, 'bottom');">
            <i class="bi bi-plus-lg" style="border-bottom: 1px solid;"></i>
        </button>
    </div>


    {% endif %}

    <br>
    <br>

</div>