{% extends 'scrum/base.html' %}

{% block content %}

{% for task_list_html in task_lists_html %}
{{ task_list_html }}
{% endfor %}

{% endblock %}

{% block scripts %}

{% load static %}
<script type="text/javascript" src="{% static 'scrum/js/task.js' %}"></script>
<script type="text/javascript" src="{% static 'scrum/js/task_list.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        make_task_lists_sortable();
        make_dates_pickable();
    });
</script>

{% endblock %}