{% extends 'scrum/base.html' %}

{% block menu %}

<!-- navigation bar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="main-content container-fluid">
        <div class="navbar-collapse d-flex">
            <div class="p-2 flex-grow-1">
                <ul class="navbar-nav">
                    <li class="nav-text">
                        <a class="nav-link {% if active_page == 'index' %}active{% endif %}"
                            href="{% url 'index' %}">Scrum</a>
                    </li>
                    <li class="nav-text">
                        <a class="nav-link {% if active_page == 'archive' %}active{% endif %}"
                            href="{% url 'project-archive' project.id %}">Archive</a>
                    </li>
                </ul>
            </div>

            <div class="p-2">
                <!-- <button class="btn my-icon-class" style="color: white; font-size:14pt" title='my activities'
                            onclick="show_my_activities();">
                            <i class="bi bi-person-lines-fill"></i>
                        </button> -->
                <a href="{% url 'myactivities' %}" class="btn my-icon-class" style="color: white; font-size:14pt">
                    <i class="bi bi-person-lines-fill"></i>
                </a>
            </div>

            <div class="p-2">
                <button type="button" class="btn btn-sm btn-primary"
                    onclick='append_new_empty_task_list({{ project.id }})'>new
                    sprint</button>
            </div>
            <div class="p-2">
                <button class="btn my-icon-class" style="color: white; font-size:14pt" title='project notes'
                    data-bs-toggle="modal" data-bs-target="#details-editor-modal"
                    onclick="show_project_notes_editor({{ project.id }});">
                    <i class="bi bi-sticky"></i>
                </button>
            </div>
            <div class="p-2">
                <button class="btn my-icon-class" style="color: white; font-size:14pt" title='team speed'
                    data-bs-toggle="modal" data-bs-target="#burndown-chart-modal"
                    onclick="show_team_speed_chart({{ project.id }});">
                    <i class="bi bi-speedometer"></i>
                </button>
            </div>
            <div class="p-2">
                <button class="btn my-icon-class" style="color: white; font-size:14pt" title='project configurations'
                    data-bs-toggle="modal" data-bs-target="#details-editor-modal"
                    onclick="show_project_editor_form({{ project.id }});">
                    <i class="bi bi-gear"></i>
                </button>
            </div>
            <div class="p-2 project_selector">{{ project_selector }}</div>
            <div class="p-2">
                <div class="header-text text-center">
                    <a href="{% url 'edit-profile' user.id %}">{{ user.username }}</a>
                </div>
                <div class="header-text text-center">
                    <a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}

{% for task_list_html in task_lists_html %}
{{ task_list_html }}
{% endfor %}

{% endblock %}

{% block scripts %}

{% load static %}
<script type="text/javascript" src="{% static 'scrum/js/task.js' %}"></script>
<script type="text/javascript" src="{% static 'scrum/js/task_list.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        make_task_lists_sortable();
        make_dates_pickable();
    });
</script>

{% endblock %}