<div class="task-list-container" id="task_list_{{ task_list.id }}">
    <div class="task-list-editor row row-cols-auto" style="background-color: springgreen">
        <div class="col-7">
            <input class='form-control-plaintext task-list-name' type="text" name="name" id="name"
                value="{{ task_list.name }}"
                onkeypress="if (event.which == 13) update_task_list({{ task_list.id }}, false);" />
        </div>
        <div class="col-3 center">
            <div style="display:inline-block">
                <!-- each picklable date must have an unique id -->
                <input class='form-control-plaintext task-list-date center' type="datetime"
                    name="date_start_{{ task_list.id }}" id="date_start_{{ task_list.id }}"
                    value="{{ task_list.start_date|date:'Y-m-d' }}" readonly
                    onchange="update_task_list({{ task_list.id }}, false);" />
            </div>
            <div style="display:inline-block">:</div>
            <div style="display:inline-block">
                <!-- each picklable date must have an unique id -->
                <input class='form-control-plaintext task-list-date center' type="datetime"
                    name="date_end_{{ task_list.id }}" id="date_end_{{ task_list.id }}"
                    value="{{ task_list.end_date|date:'Y-m-d' }}" readonly
                    onchange="update_task_list({{ task_list.id }}, false);" />
            </div>
        </div>
        <div class="task-list-buttons col-2">
            <button class="btn my-icon-class" onclick="show_burndown_graph({{ task_list.id }});" data-bs-toggle="modal"
                data-bs-target="#burndown-chart-modal" title="burndown graph">
                <i class="bi bi-graph-down"></i>
            </button>
            <button class="btn my-icon-class" title="sprint feeling" onclick="not_implemented();">
                <i class="bi bi-emoji-smile"></i>
            </button>
            {% if task_list.observation %}
            <button class="btn my-icon-class" data-bs-toggle="modal" data-bs-target="#details-editor-modal"
                onclick="show_task_list_details_form({{ task_list.id }});" title="edit details" style="color: blue;">
                <i class="bi bi-box-arrow-up-right"></i>
            </button>
            {% else %}
            <button class="btn my-icon-class" data-bs-toggle="modal" data-bs-target="#details-editor-modal"
                onclick="show_task_list_details_form({{ task_list.id }});" title="edit details">
                <i class="bi bi-box-arrow-up-right"></i>
            </button>
            {% endif %}
            <button class="btn my-icon-class" onclick="update_task_list({{ task_list.id }}, true);"
                title="archive task list">
                {% if task_list.archived %}
                <i class="bi bi-eye-slash"></i>
                {% else %}
                <i class="bi bi-eye"></i>
                {% endif%}
            </button>
            <button class="btn my-icon-class" onclick="delete_task_list({{ task_list.id }});" title="delete task list">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>

    {% if not task_list.archived %}

    <div id="tasks" class="tasks">
        {% if subtasks %}
        {% for task_html in subtasks %}
        {{ task_html }}
        {% endfor %}
        {% endif %}
    </div>

    {% endif %}

    <br>
</div>