<div class="task-list-container" id="task_list_{{ task_list.id }}">

    <div class="task-list-editor row row-cols-auto">
        <div class="col-10">
            <input class='form-control-plaintext task-list-name' type="text" name="name" id="name"
                value="{{ task_list.name }}"
                onkeypress="if (event.which == 13) update_task_list({{ task_list.id }}, false);" />
        </div>
        <div class="task-list-buttons col-2">
            <button class="btn" onclick="delete_task_list({{ task_list.id }});" title="delete task list"><i
                    class='material-icons tiny'>delete</i></button>
            <button class="btn" onclick="update_task_list({{ task_list.id }}, true);" title="archive task list">
                {% if task_list.archived %}
                <i class='material-icons tiny'>visibility</i>
                {% else %}
                <i class='material-icons tiny'>visibility_off</i>
                {% endif%}
            </button>
        </div>
    </div>

    {% if not task_list.archived %}

    <div id="tasks" class="tasks">
        {% if subtasks %}
        {% for task_html in subtasks %}
        {{ task_html }}
        {% endfor %}
        {% endif %}
    </div>

    <div id='new_task_button' class="clickable" onclick="append_new_empty_task({{ task_list.id }});">
        <i class='material-icons tiny'>add</i>
    </div>

    {% endif %}

    <hr>
</div>