<div class="task-view d-flex flex-row sortable draggable" id="task_{{ task.id }}">
    <div class="task-status first-left-icon">
        {{ status_selector_html }}
    </div>
    <div class="task-name flex-grow-1">
        <input class='form-control-plaintext' type="text" name="name" id="name" style="width:100%;"
            value="{{ task.name }}" onkeypress="if (event.which == 13) save_task({{ task.id }});" />
    </div>
    {% for tag in tags %}
    <div class="tag" id="tag_{{task.id}}_{{tag.id}}" style="background-color:{{tag.color}}; color:{{tag.text_color}};">
        <span class="tag_name">{{ tag.name }}</span>
        <span class="tag_delete_button">
            <button class="btn my-icon-class" onclick="remove_task_tag({{task.id}}, {{tag.id}});">
                <i style="color: {{tag.text_color}}" class="bi bi-x"></i></button>
        </span>
    </div>
    {% endfor %}
    <div class="task-workload">
        {{ workload_selector_html }}
    </div>
    <div class="task-responsible">
        {{ team_member_selector_html }}
    </div>
    <div class="task-buttons">
        <button class="btn my-icon-class" onclick="show_details_form({{ task.id }});" data-bs-toggle="modal"
            data-bs-target="#details-editor-modal" title="edit">
            {% if task.observation %}
            <i class=" bi bi-sticky-fill"></i>
            {% else %}
            <i class="bi bi-sticky"></i>
            {% endif %}
        </button>
        <button class="btn my-icon-class" onclick="delete_task({{ task.id }});">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>