<div class="task-view row row-cols-auto sortable draggable" id="task_{{ task.id }}">
    <div class="task-name col-1 vertical-align-center">
        #{{ task.id }}
    </div>
    <div class="task-name col-7">
        <input class='form-control-plaintext' type="text" name="name" id="name" style="width:100%;"
            value="{{ task.name }}" onkeypress="if (event.which == 13) save_task({{ task.id }});" />
    </div>
    <div class="task-workload col-1 center">
        {{ workload_selector_html }}
    </div>
    <div class="task-status col-1 center">
        {{ status_selector_html }}
    </div>
    <div class="task-responsible col-1 center">
        {{ team_member_selector_html }}
    </div>
    <div class="task-buttons col-1 center">
        {% if task.observation %}
        <button class="btn my-icon-class" onclick="show_details_form({{ task.id }});" data-bs-toggle="modal"
            data-bs-target="#details-editor-modal" title="edit" style="color: blue">
            <i class="bi bi-box-arrow-up-right"></i>
        </button>
        {% else %}
        <button class="btn my-icon-class" onclick="show_details_form({{ task.id }});" data-bs-toggle="modal"
            data-bs-target="#details-editor-modal" title="edit">
            <i class="bi bi-box-arrow-up-right"></i>
        </button>
        {% endif %}
        <button class="btn my-icon-class" onclick="delete_task({{ task.id }});">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>