{% extends "scrum/base.html" %}

{% block menu %}

<!-- navigation bar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="main-content container-fluid">
        <div class="navbar-collapse d-flex">
            <div class="p-2 flex-grow-1">
            </div>

            <div class="p-2">
                <a href="{% url 'index' %}" class="btn my-icon-class" style="color: white; font-size:14pt">
                    <i class="bi bi-ui-checks"></i>
                </a>
            </div>

            <div class="p-2">
                <div class="header-text text-center">
                    {{ user.username }}
                </div>
                <div class="header-text text-center">
                    <a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}

<div class="h1">User Profile</div>
<br>
<br>
<div>
    <form action="{% url 'edit-profile' user.id %}" method="post">
        <ul>
            {{ form.as_ul }}
            <li>
                <input class='btn btn-success' type="submit" value="Save" />
            </li>
        </ul>
    </form>
</div>

<br>

<a href="{% url 'index' %}">Back</a>

{% load static %}
<script type="text/javascript" src="{% static 'scrum/js/project.js' %}"></script>

{% endblock %}

{% block scripts %}

{% load static %}
<link href="{% static 'scrum/css/user_form.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'scrum/js/task.js' %}"></script>
<script type="text/javascript" src="{% static 'scrum/js/task_list.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        make_task_lists_sortable();
        make_dates_pickable();
    });
</script>

{% endblock %}